In [1]:
# 1
def func(val, lst=[]):
    lst.append(val)
    return lst

print(func(1))
print(func(2))
print(func(3, []))
print(func(4))

[1]
[1, 2]
[3]
[1, 2, 4]

What is the time complexity of accessing an element in a Python dictonary by key?

O(1) on average, thanks to hash tables

In [3]:
# 2
import numpy as np 
arr = np.array([1, 2, 3, 4, 5])
print(arr[::-1]) # Reverse the array

[5 4 3 2 1]

In [4]:
# 3
import pandas as pd 
df = pd.DataFrame({"A": [1, 2, 3],
                   "B": [4, 5, 6]})
print(df.mean(axis=1))
# What will be the output of the following Pandas Code?
## Row-wisw mean

0    2.5
1    3.5
2    4.5
dtype: float64

In [5]:
# 4
# What is the output of the following regex operation?
import re
pattern=r"\d+"
text="My age is 18 and my friend age is 35"
matches = re.findall(pattern, text)
print(matches) # ['28', '35']

['18', '35']

In [22]:
### 5 
# Data Manipulation with pandas

import pandas as pd
data={"Name": ["Pavan", "Manoj", "Balaji", "Appu", "Venkey"],
      "Salary": [50000, 60000, 75000, 40000, 90000],
      "Department": ['HR', 'IT', 'IT', 'HR', 'IT']}
df = pd.DataFrame(data)

# Find the avg salary of employees in the "IT" department?

# Method 1
it_salary=df[df["Department"] == "IT"]["Salary"]
avg_it_salary = it_salary.mean()

# Method 2: Using groupby()
avg_it_salary_groupby = df.groupby("Department")["Salary"].mean()["IT"]

print(avg_it_salary), avg_it_salary_groupby

75000.0

(None, np.float64(75000.0))

In [53]:
### 6  
def find_second_largest_num(lst:list):
    if len(lst) < 2:
        return None
    unique_num = sorted(list(set(lst))) # Remove duplicates and sort
    if len(unique_num) == 1:
        return None
    return unique_num[-2]
print(find_second_largest_num([1,2,3,4,5,88,44,31,94,8,4,78,24]))
print(find_second_largest_num([10, 20, 4, 45, 99]))
print(find_second_largest_num([10, 10, 10]))

88
45
None

In [55]:
# Suppose we don't need to use pre build functions
def find_2_largest_num(lst:list):
    if len(lst) < 2:
        return None
    
    # Find the largest number
    largest = lst[0]
    for num in lst:
        if num>largest:
            largest=num

    # Find 2nd largest number
    second_largest = None
    for num in lst:
        if num != largest:
            if second_largest is None or num > second_largest:
                second_largest=num
    return second_largest

print(find_2_largest_num([1, 2, 3, 4, 5, 88, 44, 31, 94, 8, 4, 78, 24]))  # Output: 88
print(find_2_largest_num([10, 20, 4, 45, 99]))  # Output: 45
print(find_2_largest_num([10, 10, 10]))  # Output: None
print(find_2_largest_num([1, 1, 2, 2, 3]))  # Output: 2
print(find_2_largest_num([1, 2]))  # Output: 1
print(find_2_largest_num([1])) #Output: None

88
45
None
2
1
None

In [56]:
### 7
x=10
y=5
def test():
    global x
    y = 3
    x = 7
    print(x, y)
test()
print(x, y)

7 3
7 5

In [58]:
### 8
def foo(x, y=[]):
    y.append(x)
    return y

print(foo(1))
print(foo(2, [3, 4]))
print(foo(3))

[1]
[3, 4, 2]
[1, 3]

In [59]:
### 9
x = 5
def test(x):
    x = x + 1
    return x
print(test(x))
print(x)

6
5

In [60]:
### 10
def f(x, y=3):
    return x + y

print(f(2))
print(f(2, 4))

5
6

In [61]:
### 11
"""
What is the purpose of the __init__ method in Python classes?

It is used to create new instance of the class

The __init__ method is the initializer(constructor) in Python. It is called when a new instance of the
class is created. Its primary purpose is to initialize the instance attributes when an object is
instantiated.
"""

'\nWhat is the purpose of the __init__ method in Python classes?\n\nIt is used to create new instance of the class\n\nThe __init__ method is the initializer(constructor) in Python. It is called when a new instance of the\nclass is created. Its primary purpose is to initialize the instance attributes when an object is\ninstantiated.\n'

In [62]:
### 12

def func(a, b=2, c=3):
    return a + b + c

print(func(1, 5))
print(func(1, 5, 6))

9
12

In [63]:
### 13

"""
What is the purpose of the `self` parameter in Python class method?

It refers to the instance of the class
"""

'\nWhat is the purpose of the `self` parameter in Python class method?\n\nIt refers to the instance of the class\n'

In [64]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def greet(self):
        print(f"Hello, my name is {self.name} and I am {self.age} years old.")
        
person1 = Person("Alice", 30)
person1.greet()  # self refers to person1 here

Hello, my name is Alice and I am 30 years old.

In [66]:
## 14

def foo(x, y=5):
    return x * y

print(foo(3))
print(foo(3, 2))

15
6

In [67]:
## 15

x = 7
def func():
    x = 3
    return x

print(func())
print(x)

3
7

In [68]:
### 16

def test(x, y=[]):
    y.append(x)
    return y

print(test(1))
print(test(2, [3, 4]))
print(test(3))

[1]
[3, 4, 2]
[1, 3]

In [69]:
### 17

def my_func(a, b, c=10):
    return a + b + c

print(my_func(1, 2))
print(my_func(1, 2, 3))

13
6

In [70]:
### 18

x = 5
def test():
    global x
    x = 10
    return x

print(test())
print(x)

10
10

In [71]:
### 19

def add(x, y=3):
    return x + y

print(add(2))
print(add(2, 5))

5
7

In [72]:
### 20

def foo(x, y=2, z=3):
    return x + y + z

print(foo(1, 4))
print(foo(1, 4, 5))

8
10

In [74]:
### 21

def test_func(a, b, c=10):
    a = a + 1
    b = b * 2
    c = c + 3
    return a, b, c

x, y, z = test_func(5, 3)

print(x)
print(y)
print(z)

6
6
13

In [75]:
### 22

def modify_list(lst):
    lst[0] = 100
    lst.append(200)
    lst = [300, 400]
    return lst

my_list = [1, 2, 3]

result = modify_list(my_list)

print(my_list)
print(result)

[100, 2, 3, 200]
[300, 400]

In [76]:
### 23

def func(a, b=3, c=4):
    return a + b + c

x = 2
y = 5
z = func(x, c=y)
print(x, y, z)

2 5 10

In [77]:
### 24

import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [24, 27, 22, 32, 29],
    'Salary': [50000, 55000, 48000, 60000, 52000]
}

df = pd.DataFrame(data)

# Now, let's manipulate this DataFrame

df['Salary'] = df['Salary'] * 1.1  # Applying a 10% salary increase

# Task: Select the rows where Age is greater than 25 and Salary is greater than 55000
result = df[(df['Age'] > 25) & (df['Salary'] > 55000)]

print(result)

    Name  Age   Salary
1    Bob   27  60500.0
3  David   32  66000.0
4    Eva   29  57200.0

In [78]:
df

      Name  Age   Salary
0    Alice   24  55000.0
1      Bob   27  60500.0
2  Charlie   22  52800.0
3    David   32  66000.0
4      Eva   29  57200.0

In [81]:
### 25

import pandas as pd

data = {
    'ID': [1, 2, 3, 4, 5],
    'Product': ['A', 'B', 'C', 'D', 'E'],
    'Sales': [100, 200, 150, 250, 300],
    'Profit': [30, 50, 40, 60, 70]
}

df = pd.DataFrame(data)

# Task: Create a new column 'Sales_Profit_Ratio' which is the ratio of Sales to Profit (Sales / Profit).
# Also, sort the DataFrame by 'Sales_Profit_Ratio' in descending order.

df['Sales_Profit_Ratio'] = df['Sales'] / df['Profit']

result = df.sort_values(by='Sales_Profit_Ratio', ascending=False)

print(result)

   ID Product  Sales  Profit  Sales_Profit_Ratio
4   5       E    300      70            4.285714
3   4       D    250      60            4.166667
1   2       B    200      50            4.000000
2   3       C    150      40            3.750000
0   1       A    100      30            3.333333

In [82]:
df

   ID Product  Sales  Profit  Sales_Profit_Ratio
0   1       A    100      30            3.333333
1   2       B    200      50            4.000000
2   3       C    150      40            3.750000
3   4       D    250      60            4.166667
4   5       E    300      70            4.285714

In [102]:
### 26

import pandas as pd

data = {
    "Name": ["Pavan", "Manoj", "Balaji", "Appu", "Malli"],
    "Age": [28,22,34,42,25],
    "Department": ["HR", "Engineering", "Marketing", "Engineering", "HR"],
    "Salary": [50000, 75000, 60000, 80000, 55000]
}

df = pd.DataFrame(data)

# Task:
# 1. Group by 'department' and calculate the average 'Salary' per department
# 2. Sort the departments by 'Average Salary' in descending order.
average_salary_per_dept = df.groupby("Department")['Salary'].mean()
sorted_departments = average_salary_per_dept.sort_values(ascending=False)

print(sorted_departments)

Department
Engineering    77500.0
Marketing      60000.0
HR             52500.0
Name: Salary, dtype: float64